#menu {
  /* background-image: url("../../5861906.jpg"); */
  /* background-color: #fdd0d8; */
}
#main-logo {
  font-family: "Comfortaa", cursive;
  /* color: red; */
  color: #dc3545;
  font-size: 2em;
  font-weight: bold;
}
#menu a {
  text-decoration: none;
  /* color: red; */
  color: #dc3545;
  font-weight: bold;
}
#menu a:hover {
  transform: scale(1.1);
  /* font-weight: 1000; */
  text-shadow: 1px 1px #979797;
}
#right-links a {
  text-decoration: none;
  /* color: red; */
  color: #dc3545;
  font-family: "Exo";
}
