#follow-us-title {
  font-family: "Exo";
}
#follow-us-title a {
  text-decoration: none;
}
#qr-code-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  width: 200px;
}
